# Banco de dados (SQLite local)
DATABASE_URL="file:./dev.db"

# Login do dashboard
ADMIN_USER="admin"
ADMIN_PASSWORD="troque-esta-senha"

# NextAuth
NEXTAUTH_SECRET="gere-um-valor-aleatorio-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
